<mat-nav-list>

  <a mat-list-item routerLink="/feed" routerLinkActive="active">
    <mat-icon>dynamic_feed</mat-icon>
    <span>Feed</span>
  </a>

  <a mat-list-item routerLink="/scores" routerLinkActive="active">
    <mat-icon>sports_score</mat-icon>
    <span>Scores</span>
  </a>

  <a mat-list-item routerLink="/teams" routerLinkActive="active">
    <mat-icon>emoji_events</mat-icon>
    <span>League</span>
  </a>

  <a mat-list-item routerLink="/settings" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </a>

</mat-nav-list>
