<div class="feed">

  <!-- Syncing -->
  @if(syncService.isSyncing()) {
    <div class="system-status">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      <p>Waking up the feed engine... this can take a minute</p>
    </div>
  }

  <!-- Loading -->
  @if(feedService.loading() && !syncService.isSyncing()) {
    <div class="state">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      <p>Loading feed...</p>
    </div>
  }

  <!-- Error -->
  @if(feedService.error()) {
    <mat-card class="error-card">
      <mat-card-title>Something went wrong</mat-card-title>
      <mat-card-content>{{ feedService.error() }}</mat-card-content>
    </mat-card>
  }

  <!-- Feed Content -->
  @if(feedItems()) {
    @for(feedItem of feedItems(); track feedItem.id) {
      @switch(feedItem.type) {

        @case('score') {
          <app-score-card [data]="feedItem"></app-score-card>
        }


<!--        @case('fantasy') {-->
<!--          <app-fantasy-card [data]="feedItem"></app-fantasy-card>-->
<!--        }-->

<!--        @case('highlight') {-->
<!--          <app-highlight-card [data]="feedItem"></app-highlight-card>-->
<!--        }-->

<!--        @case('trade') {-->
<!--          <app-highlight-card [data]="feedItem"></app-highlight-card>-->
<!--        }-->

        @default {
          <!-- Optional: fallback UI -->
          <div>Unknown feed item type: {{ feedItem.type }}</div>
        }
      }
    }
  }

</div>
